{%- if page.layout == "distill" -%}
<div class="instructors clearfix">
  {% for instructor in site.data.staff.Instructors %}
  <div class="instructor-profile-one-col">
    <a href="{{ instructor.url }}" target="_blank"
      ><img
        src="{{ instructor.image | prepend: '/assets/img/' | relative_url }}"
    /></a>
    <ul class="instructor-info">
      <li>
        <span>Instructor</span>
        <strong
          ><a href="{{ instructor.url }}" target="_blank"
            >{{ instructor.name }}</a
          ></strong
        >
      </li>
      <li>
        <span>Email:</span>
        <a href="mailto:{{ instructor.email | encode_email }}" target="_blank"
          >{{ instructor.email }}</a
        >
      </li>
      <!-- <li><span>Office hours:</span> {{ instructor.office-hours }}</li> -->
    </ul>
  </div>
  {% endfor %}
</div>
{%- endif -%}

<div class="instructor-details">
  <p>
    Aaron Snowberger earned his Ph.D. in Information and Communications
    Engineering from Hanbat National University in South Korea in 2024. He also holds
    degrees in Computer Science and Media Design. He has taught technology courses
    for over 8 years, English for over 15 years, and has freelanced as a web developer
    and magazine designer for over 5 years. His current research interests include
    computer vision, natural language processing, image processing, signal
    processing, and machine learning.
  </p>
  <p>
    Aaron Snowberger는 2024년 한국 한밭대학교에서 정보통신공학 박사 학위를 취득했습니다.
    그는 또한 컴퓨터 과학 및 미디어 디자인 학위를 취득했습니다. 그는 8년 이상 기술 과정을
    가르쳤고, 15년 이상 영어를 가르쳤으며, 5년 이상 웹 개발자 및 잡지 디자이너로 프리랜서로
    일했습니다. 그의 현재 연구 관심사는 컴퓨터 비전, 자연어 처리, 이미지 처리, 신호 처리 및
    머신 러닝입니다.
  </p>
</div>
