<!-- _includes/courses.html -->
<style>
  .courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    margin: 20px 0 40px;
  }

  @media (max-width: 576px) {
    .courses-grid {
      grid-template-columns: 1fr;
    }
  }

  .courses-grid .card {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 20px 20px 10px;
    display: inline-block;
  }

  .courses-grid .card:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
  }

  .courses-grid .card-meta {
    display: inline-block;
  }

  .courses-grid .logo {
    float: left;
    width: 60px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .courses-grid h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .courses-grid ul {
    padding-left: 0;
  }

  .courses-grid li {
    font-size: 16px;
    list-style: inside;
    margin-bottom: 5px;
  }

  .courses-grid li a {
    text-decoration: none;
  }
</style>

<section class="courses-grid">
  <div class="card jbnu">
    <img class="logo" src="/assets/img/jbnu-logo-2.png" />
    <div class="card-meta">
      <h2>JBNU</h2>
      <ul>
        <li><a href="/courses/2025-jbnu-info">융합형 정보전송</a></li>
        <li>
          <a href="/courses/2025-jbnu-python-ml">파이썬기반 기계학습</a>
        </li>
        <li>
          <a href="/courses/2025-jbnu-circuits-ii">프로그램기반 회로이론 2</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card ut">
    <img class="logo" src="/assets/img/ut-logo.png" />
    <div class="card-meta">
      <h2>UT</h2>
      <ul>
        <li><a href="/courses/2025-ut-dl">딥러닝응용</a></li>
        <li><a href="/courses/2025-ut-mip">의료영상처리</a></li>
      </ul>
    </div>
  </div>
  <div class="card hb">
    <img class="logo" src="/assets/img/hanbat-logo.png" />
    <div class="card-meta">
      <h2>HB</h2>
      <ul>
        <li><a href="/courses/2025-hb-c">고급 C 프로그래밍</a></li>
      </ul>
    </div>
  </div>
</section>
