<!-- _includes/courses.html -->
<style>
  .courses-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.75rem;
    margin: 20px 0 40px;
  }

  @media (max-width: 576px) {
    .courses-grid {
      grid-template-columns: 1fr;
    }
  }

  .courses-grid .card {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 20px 20px 10px;
    display: inline-block;
  }

  .courses-grid .card:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.55s ease-in-out;
    transition: all 0.55s ease-in-out;
  }

  .courses-grid .card-meta {
    display: inline-block;
  }

  .courses-grid .logo {
    float: left;
    width: 60px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .courses-grid h2 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .courses-grid ul {
    padding-left: 0;
  }

  .courses-grid li {
    font-size: 16px;
    list-style: inside;
    margin-bottom: 5px;
  }

  .courses-grid li a {
    text-decoration: none;
  }
</style>

<section class="courses-grid">
  <div class="card jbnu">
    <img class="logo" src="/assets/img/jbnu-logo.png" />
    <div class="card-meta">
      <h2>JBNU</h2>
      <ul>
        <li>
          <a href="/courses/2024-jbnu-hydrogen">수소연료전지 (Hydrogen Fuel Cells)</a>
        </li>
        <li>
          <a href="/courses/2024-jbnu-data">데이터구조 (Data Structures)</a>
        </li>
        <li>
          <a href="/courses/2024-jbnu-chips">반도체공정 (Semiconductor Processing)</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card dju">
    <img class="logo" src="/assets/img/dju-logo-2.png" />
    <div class="card-meta">
      <h2>DJU</h2>
      <ul>
        <li>
          <a href="/courses/2024-dju-sql">데이터베이스 보안</a>
        </li>
        <li>
          <a href="/courses/2024-dju-web">자바웹해킹보안 및 실습</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card ut">
    <img class="logo" src="/assets/img/ut-logo.png" />
    <div class="card-meta">
      <h2>UT</h2>
      <ul>
        <li><a href="/courses/2024-ut-data">데이터공학</a></li>
      </ul>
    </div>
  </div>
  <div class="card hb">
    <img class="logo" src="/assets/img/hanbat-logo.png" />
    <div class="card-meta">
      <h2>HB</h2>
      <ul>
        <li><a href="/courses/2024-hb-c">고급 C 프로그래밍</a></li>
      </ul>
    </div>
  </div>
</section>
