html {
  scroll-behavior: smooth;
}
@media (min-width: 768px) {
  d-title {
    padding: 2.5rem 0 1.5rem;
  }
}
d-title h2 {
  grid-column: text;
  margin: 0 0 0.5rem;
}
d-article h2:first-child,
d-contents + h2 {
  margin-top: 0;
}
d-article h3 {
  font-size: 28px;
}
d-article h4 {
  font-size: 20px;
  text-transform: capitalize;
}
d-byline .authors-affiliations {
  grid-column-end: span 4;
  grid-template-columns: repeat(4, 1fr);
}
d-byline a,
.post a :not(.btncv),
.post a strong {
  color: initial;
  color: var(--global-theme-color) !important;
  text-decoration: none;
  border: none;
}
d-byline a:hover,
.post a:hover,
.post a strong:hover {
  text-decoration: none !important;
}
d-article {
  contain: none;
}
d-article li {
  margin-bottom: 0;
}
.distill .logo {
  position: absolute;
  max-width: 140px;
  top: 90px;
  left: 50%;
  transform: translateX(calc(-50% - 460px));
}
d-article table tbody :first-child td {
  padding: 0.75rem;
}
d-article table th,
d-article table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1181px) {
  .contents-fixed {
    position: fixed;
    top: 85px;
    max-width: 300px;
    z-index: 100;
    background: radial-gradient(circle at right, white, transparent);
  }

  html[data-theme="dark"] .contents-fixed {
    background: radial-gradient(circle at right, #1c1c1d, transparent);
  }
}

@media screen and (max-width: 1180px) {
  .distill .logo {
    float: left;
    position: relative;
    top: 30px;
    left: 0;
    display: inline-block;
    transform: translateX(120%);
  }
}

@media screen and (max-width: 1024px) {
  d-article d-contents {
    position: absolute;
    width: auto;
    border-right: none;
    border-top: none;
    border-bottom: none;
  }
}

@media screen and (max-width: 1000px) {
  d-title {
    padding-right: 3rem;
  }
}

@media screen and (max-width: 768px) {
  d-title {
    padding-right: 3rem;
  }
  .distill .logo {
    transform: translateX(30%);
  }
}

@media screen and (max-width: 10px) {
  d-title {
    padding-right: 0;
  }
  .distill .logo {
    width: 100px;
    top: 20px;
    transform: translateX(10%);
  }
}
