@media screen and (min-width: 676px) {
  .instructor-profile-one-col,
  .instructor-profile-two-col,
  .instructor-profile-three-col {
    height: 130px;
  }
}

.instructor-profile-one-col,
.instructor-profile-two-col,
.instructor-profile-three-col {
  display: block;
  float: left;
  margin-bottom: 1rem;
}

.instructor-profile-one-col {
  width: 100%;
}

.instructor-profile-two-col {
  width: 50%;
}

.instructor-profile-one-col img,
.instructor-profile-two-col img,
.instructor-profile-three-col img {
  border-radius: 50%;
  float: left;
  object-fit: cover;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.instructor-profile-one-col ul.instructor-info,
.instructor-profile-two-col ul.instructor-info,
.instructor-profile-three-col ul.instructor-info {
  display: block;
  float: left;
  list-style-type: none;
  padding-left: 0;
  width: 65%;
  width: -webkit-calc(100% - 130px);
  width: calc(100% - 130px);
  min-width: 210px;
}

.table .thead-light th {
  /* background-color: #f8f9fa; */
}

.table > thead > tr > td.warning,
.table > thead > tr > th.warning,
.table > thead > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr > td.warning,
.table > tbody > tr > th.warning,
.table > tbody > tr.warning > td,
.table > tbody > tr.warning > th,
.table > tfoot > tr > td.warning,
.table > tfoot > tr > th.warning,
.table > tfoot > tr.warning > td,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}

table.table th,
table.table td {
  padding: 0.75rem;
}

h2#textbook-교재 {
  border-bottom: none;
  margin-bottom: 0;
}

footer.sticky-bottom {
  text-align: center;
}

/** Dark mode */
html[data-theme="dark"] .table > thead > tr > td.warning,
html[data-theme="dark"] .table > thead > tr > th.warning,
html[data-theme="dark"] .table > thead > tr.warning > td,
html[data-theme="dark"] .table > thead > tr.warning > th,
html[data-theme="dark"] .table > tbody > tr > td.warning,
html[data-theme="dark"] .table > tbody > tr > th.warning,
html[data-theme="dark"] .table > tbody > tr.warning > td,
html[data-theme="dark"] .table > tbody > tr.warning > th,
html[data-theme="dark"] .table > tfoot > tr > td.warning,
html[data-theme="dark"] .table > tfoot > tr > th.warning,
html[data-theme="dark"] .table > tfoot > tr.warning > td,
html[data-theme="dark"] .table > tfoot > tr.warning > th {
  background-color: #32312d;
}

html[data-theme="dark"] .table .thead-light th {
  background-color: #495057;
  color: #e9ecef;
  border-color: #32312d;
}
