@media screen and (min-width: 676px) {
  .instructor-profile-one-col,
  .instructor-profile-two-col,
  .instructor-profile-three-col {
    height: 130px;
  }
}

.instructor-profile-one-col,
.instructor-profile-two-col,
.instructor-profile-three-col {
  display: block;
  float: left;
  height: 210px;
}

.instructor-profile-two-col {
  width: 50%;
}

.instructor-profile-one-col img,
.instructor-profile-two-col img,
.instructor-profile-three-col img {
  border-radius: 50%;
  float: left;
  object-fit: cover;
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

.instructor-profile-one-col ul.instructor-info,
.instructor-profile-two-col ul.instructor-info,
.instructor-profile-three-col ul.instructor-info {
  display: block;
  float: left;
  list-style-type: none;
  padding-left: 0;
  width: 65%;
  width: -webkit-calc(100% - 130px);
  width: calc(100% - 130px);
  min-width: 210px;
}
